<ion-header>

  <ion-navbar>
    <ion-title>{{quotesText.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
      <ion-card padding *ngFor="let text of quotesText.quotes; let i = index">
          <ion-card-title text-center>
              #{{i + 1}}
          </ion-card-title>
          <p>
            {{text.text}} <span class="f_12">-{{text.person}}</span>
          </p>
          <ion-row>
            <ion-col text-right>
                <button clear ion-button small outline (click)="addToFavorite(text)" *ngIf="!isFavorite(text)">
                    Favorite
                </button>
                <button clear ion-button small outline color="danger" (click)="removeToFavorite(text)"  *ngIf="isFavorite(text)">
                    Unfavorite
                </button>
            </ion-col>
          </ion-row>
      </ion-card>
  </ion-list>
</ion-content>
